# This code shows some simple data cleaning procedures

Note that, in order to make the code simple, many details (sometimes quite important) are not considered.

The input file used as example is the one generated in the TwitterFriends example


## Main items introduced
1. Simple data cleaning strategies
2. Reading and writing dataframes from CSV files
  * pd.read_csv
  * df.to_csv
3. Exploring dataframes
  * df - shows beginning and end of table
  * df.head() - shows the first five rows
  * df\[&lt;column_name&gt;\] - shows the column &lt;column_name&gt;
  * df\[&lt;column_name&gt;\]\[&lt;row number&gt;\] - shows the content of the cell
  * df.dtypes - shows the type of each column
  * df\[&lt;column_name&gt;\].unique() - shows unique values of the items in the column &lt;column_name&gt;
  * df\[df.&lt;column_name&gt; == '&lt;value&gt;'\] - returns all rows that have the value &lt;value&gt; in the column &lt;column_name&gt;. Note that the condition in the square bracket may be complex, see for example code line 21
4. Manipulating dataframes
  * df.copy() - creates a copy of the datframe
  * df.dropna(PARAM) - rows or columns based on NaN (no value assigned)
  * df.drop(PARAM) - drop rows or columns
  * df.replace(PARAM) - replaces the content of cells
  * df\['&lt;column_name&gt;'\]\[&lt;row number&gt;\] = '&lt;value&gt;' - assignes the value &lt;value&gt; to the cell
5. Simple regular expressions

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# read the file generated with the twitter API in a data frame and show first five records
df = pd.read_csv('dataFromTwitter.txt', sep='\t')
df.head()

In [ ]:
# show the entire data frame - note the summary (number of row and columns) at the end
df

In [ ]:
# each column can be accessed by providing its name
df['name']

In [ ]:
# each element can be accessed by providing the name of the column and the row number
df['name'][96]

In [ ]:
# Every column has a type (in this case all columns contain objects)
df.dtypes

#### Do exercises 1,2 and 3 in the <a href="https://jhub.aup.edu/hub/user-redirect/git-pull?repo=https://github.com/aup-cs1091/MyClassNotebooks&branch=master&subPath=ClassExercises/CleaningDataExercises" targwt="blank">CleaningDataExercises notebook</a>

In [ ]:
# make a copy of the data frame
df1 = df.copy()
# dropna allows to drop lines (or columns if axis=1) that contain non assigned values (NaN)
# in this case I have indicated to drop the lines that have NaN in the location column (subset=['location'])
df2 = df1.dropna(subset=['location'], axis=0, how='any')

In [ ]:
df2

In [ ]:
# remove the status column
df2.drop(['status'], inplace=True, axis=1)
df2

In [ ]:
# remove 4rth row which has a strange location
df2.drop([4], inplace=True, axis=0)
df2

In [ ]:
# check the unique values in the column location
df2['location'].unique()

Washington appears in many different formats
the lines below replace all occurences of Washington to be the same
I have used the function replace of the pandas library (see http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html ) and a regular expression to indicate that any sequence starting by Wash and followed by any sequence of characters should be replaced by 'Washington, DC'. A good tutprial on regular expressions is at https://regexone.com/

In [ ]:
df3=df2.replace(to_replace=r'Wash.+',value='Washington, DC', regex=True)
df3['location'].unique()

In [ ]:
# note that df2 has not changed
df2['location'].unique()

In [ ]:
# replace any DC at the beginning of the string with Washington, DC
# replace NYC preceded by any number of white spaces with New York, NY
# replace a string starting and finishing with US with USA
# replace USAðŸ‡ºðŸ‡¸ with USA
# replace New York City with New York, NY
# replace a string starting and finishing with New York with New York, NY
df4=df3.replace(regex={r'^DC': 'Washington, DC', '\s*NYC': 'New York, NY', '^US$':'USA', 'USAðŸ‡ºðŸ‡¸': 'USA', 'New York City': 'New York, NY', '^New York$':'New York, NY'})
df4['location'].unique()

In [ ]:
# Explore which are the entities with a certain location value (e.g. which ones have USA as location)
# (for each one of the rows in df4, [df4.location == 'USA'] returns true or false; only the rows corresponding to True are returned)
df4[df4.location == 'USA']

In [ ]:
# One location value is location, I want to see to what it corresponds
df4[df4.location == 'location']

In [ ]:
# I drop the line 50
df4.drop([50], inplace=True, axis=0)
df4

In [ ]:
# Now I want to eliminate the double locations
# From the table above I see that Reince Priebus has two locations but he also appears twice so I assign to 
# one occurence Kenosha, WI and to the other one Washington, DC
#
# in the column 'location' on line 6 assign 'Kenosha, WI'
df4['location'][6] = 'Kenosha, WI'
# in the column 'location' on line 62 assign Washington, DC'
df4['location'][62] = 'Washington, DC'
df4

In [ ]:
# Ann Coulter also has a double location so I check whether she also appears twice (she does not)
df4[df4.name == 'Ann Coulter']

In [ ]:
# I just keep Los Angeles
df4['location'][23] = 'Los Angeles, CA'
df4['location'].unique()

In [ ]:
# look for all entities with location equal 'London, Newick, LA. ' or 'London, Newick, LA.'
df4[(df4.location == 'London, Newick, LA. ') | (df4.location == 'London, Newick, LA.')]

In [ ]:
# make one in London and one in LA
df4['location'][46] = 'London, UK'
df4['location'][101] = 'Los Angeles, CA'
df4['location'].unique()

In [ ]:
# Last few changes
df5=df4.replace(regex={r'United States': 'USA', '^Los Angeles$': 'Los Angeles, CA', '1600 Pennsylvania Avenue ': '1600 Pennsylvania Avenue, Washington, DC'})
df5['location'].unique()

In [ ]:
df5.to_csv('cleanDataFromTweeter.txt')

#### Do the remaining exercises in the <a href="https://jhub.aup.edu/hub/user-redirect/git-pull?repo=https://github.com/aup-cs1091/MyClassNotebooks&branch=master&subPath=ClassExercises/CleaningDataExercises" targwt="blank">CleaningDataExercises notebook</a>