# Scraping data from multiple web pages with the same structure (example)
We will build the code that allow us to use wiki pages to retrieve information about a list of people.
- first we will use the [code that retrieves data about a single person](WebScraping_SinglePage-NoInstructions.ipynb) to build a functions that allows to pass a person name and that returns a list of information about that person
- second we will call the function for each one of Trump's friends

See also: 
- [more information about python functions](http://www.tutorialspoint.com/python/python_functions.htm)
- [more details about the code we use to define the function getPersonData](WebScraping_SinglePage.ipynb)

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

## Define a functions that takes a person name and returns a list of information about that person

In [8]:
def getPersonData( name ):
    url = 'https://en.wikipedia.org/wiki/'+name
    r  = requests.get(url)
    data = r.text
    soup = BeautifulSoup(data)

    # create a list to store all the data
    personInfo = []

    
    # *** name ***
    # look for a div tag with a class named nickname
    # check that there is a name
    nameSection = soup.find("div", class_="nickname")
    if nameSection is not None :
        name = nameSection.get_text()

        # add the person name to the list
        personInfo.append(name)
        
    else : personInfo.append('none')

    # *** name ***
    # look for a span tag with a class named bday
    bdaySection=soup.find("span", class_="bday")
    if bdaySection is not None :
        bday=bdaySection.get_text()

        # add the person bday to the list
        personInfo.append(bday)
    
    else : personInfo.append('none')

    # *** education ***

    # find the th tag that has a text 'Education'
    edu_heading = soup.find("th", string="Education")
    if edu_heading is not None :

        # go one level up to the table row level
        edu_row = edu_heading.parent

        # get all links (this is how education info is stored)
        edu_list_with_tags = edu_row.find_all('a')

        # transform it into a list to be able to scroll through each element
        tagsList = list(edu_list_with_tags)

        # collect all [university, degree] pairs
        edu_list=[]
        for x in range(0,len(tagsList)-1, 2):
            edu_list.append([tagsList[x].string, tagsList[x+1].string])

        # add the person education to the list (converting it to a string)
        personInfo.append(str(edu_list))

    else : personInfo.append('none')


    # *** children ***

    # find the th tag that has a text 'Children'
    children_heading = soup.find("th", string="Children")
    if children_heading is not None :

        # retreive the number of children by getting the text of the next siblin
        numbChildren = children_heading.next_sibling.string

        # add the person children to the list
        personInfo.append(numbChildren)

    else : personInfo.append('none')

    return personInfo

# the line below tests the function
getPersonData('Reince_Priebus')

['Reinhold Richard Priebus',
 '1972-03-18',
 "[['University of Wisconsinâ€“Whitewater', 'BA'], ['University of Miami', 'JD']]",
 '2']

In [ ]:
# shows what the getPersonData returns for a non-person
getPersonData('DRUDGE REPORT')

## Call the function for each one of Trump's friends

In [19]:
# read the file with the geocoded twitter data and build the dataFrame
df = pd.read_csv('geocodedTwitterData.csv', sep=',')
df.head()

,Unnamed: 0,screen_name,name,followers_count,location,lat,lon
0,0,TuckerCarlson,Tucker Carlson,1064787,"Washington, DC",38.895009,-77.036563
1,3,WhiteHouse,The White House,15327283,"Washington, DC",38.895009,-77.036563
2,5,KellyannePolls,Kellyanne Conway,1664393,"Washington, DC",38.895009,-77.036563
3,6,Reince,Reince Priebus,941927,"Kenosha, WI",42.584677,-87.821226
4,10,RealRomaDowney,Roma Downey,192126,Malibu,34.035591,-118.689423

In [20]:
# call the getPersonData function for all names in the column 'name' of the dataFrame
allInfo = []
for name in df['name']:
    #store the data returned by the fuction in the list allInfo
    allInfo.append(getPersonData(name))
allInfo

[['Tucker McNear Carlson[1]', '1969-05-16', '[]', '4'],
 ['none', '1792-10-13', 'none', 'none'],
 ['Kellyanne Elizabeth Fitzpatrick',
  '1967-01-20',
  "[['Trinity Washington University', 'BA'], ['George Washington University', 'JD']]",
  '4'],
 ['Reinhold Richard Priebus',
  '1972-03-18',
  "[['University of Wisconsinâ€“Whitewater', 'BA'], ['University of Miami', 'JD']]",
  '2'],
 ['none', '1960-05-06', 'none', '1 daughter, 2 stepsons'],
 ['none', '1923', 'none', 'none'],
 ['Laura Anne Ingraham',
  '1963-06-19',
  "[['Dartmouth College', 'BA'], ['University of Virginia', 'JD']]",
  '3'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['Lara Lea Yunaska', '1982-10-12', 'none', '1'],
 ['Sean Patrick Hannity[1]', '1961-12-30', '[]', '2'],
 ['none', '1973-09-18', "[[None, 'BA'], ['American University', 'MA']]", '4'],
 ['Ann Hart Coulter',
  '1961-12-08',
  "[['Cornell University', 'BA'], ['University of Michigan', 'JD']]",
  'none'],
 ['none', 'none', 'none', 'none'],
 ['Katrina Lanette Shaddix', '1976-07-20', 'none', '1'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['Gerald Michael Riviera',
  '1943-07-04',
  "[['State University of New York Maritime College', 'University of Arizona'], ['BS', 'Brooklyn Law School']]",
  '5'],
 ['Eric Thomas Bolling', 'none', "[['Rollins College', 'BA']]", '1'],
 ['James Mark Burnett[1]',
  '1960-07-17',
  'none',
  '3, including a step-daughter'],
 ['none',
  '1935-11-01',
  'none',
  'Jennifer, Marc, Wayne, Michele, Theresa, Amanda'],
 ['Vincent Kennedy McMahon', '1945-08-24', '[]', None],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['Greta Conway Van Susteren[1]',
  '1954-06-11',
  "[['University of Wisconsin', 'B.A.'], ['Georgetown University', 'J.D.']]",
  'none'],
 ["Piers Stefan O'Meara",
  '1965-03-30',
  "[['Chailey School', 'Priory School, Lewes']]",
  '4'],
 ['Ivana Marie Trump',
  '1981-10-30',
  "[['Georgetown University', 'University of Pennsylvania']]",
  '3'],
 ['Michael Richard Pence',
  '1959-06-07',
  "[['Hanover College', 'BA'], ['Indiana University, Indianapolis', 'JD']]",
  None],
 ['Bradley James Parscale',
  '1976-01-03',
  "[['University of Texas, San Antonio', 'Trinity University']]",
  '1'],
 ['Sarah Elizabeth Huckabee',
  '1982-08-13',
  "[['Ouachita Baptist University', 'BA']]",
  '3'],
 ['Tucker McNear Carlson[1]', '1969-05-16', '[]', '4'],
 ['none', '1792-10-13', 'none', 'none'],
 ['Daniel Scavino Jr.',
  'none',
  "[['State University of New York, Plattsburgh', 'BA']]",
  'none'],
 ['Kellyanne Elizabeth Fitzpatrick',
  '1967-01-20',
  "[['Trinity Washington University', 'BA'], ['George Washington University', 'JD']]",
  '4'],
 ['Reinhold Richard Priebus',
  '1972-03-18',
  "[['University of Wisconsinâ€“Whitewater', 'BA'], ['University of Miami', 'JD']]",
  '2'],
 ['none', '1960-05-06', 'none', '1 daughter, 2 stepsons'],
 ['none', '1923', 'none', 'none'],
 ['Laura Anne Ingraham',
  '1963-06-19',
  "[['Dartmouth College', 'BA'], ['University of Virginia', 'JD']]",
  '3'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['Lara Lea Yunaska', '1982-10-12', 'none', '1'],
 ['Sean Patrick Hannity[1]', '1961-12-30', '[]', '2'],
 ['none', '1973-09-18', "[[None, 'BA'], ['American University', 'MA']]", '4'],
 ['none', 'none', 'none', 'none'],
 ['Katrina Lanette Shaddix', '1976-07-20', 'none', '1'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['Gerald Michael Riviera',
  '1943-07-04',
  "[['State University of New York Maritime College', 'University of Arizona'], ['BS', 'Brooklyn Law School']]",
  '5'],
 ['none', 'none', 'none', 'none'],
 ['James Mark Burnett[1]',
  '1960-07-17',
  'none',
  '3, including a step-daughter'],
 ['none',
  '1935-11-01',
  'none',
  'Jennifer, Marc, Wayne, Michele, Theresa, Amanda'],
 ['Vincent Kennedy McMahon', '1945-08-24', '[]', None],
 ['Daniel Scavino Jr.',
  'none',
  "[['State University of New York, Plattsburgh', 'BA']]",
  'none'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['none', 'none', 'none', 'none'],
 ['Greta Conway Van Susteren[1]',
  '1954-06-11',
  "[['University of Wisconsin', 'B.A.'], ['Georgetown University', 'J.D.']]",
  'none'],
 ["Piers Stefan O'Meara",
  '1965-03-30',
  "[['Chailey School', 'Priory School, Lewes']]",
  '4'],
 ['Ivana Marie Trump',
  '1981-10-30',
  "[['Georgetown University', 'University of Pennsylvania']]",
  '3']]

## Add the information found to the original DataFrame

In [23]:
# create a new dataFrame from the allInfo list
df_new = pd.DataFrame(allInfo)

# assign column names
df_new=df_new.rename(columns = {0:'nickName', 1:'bday', 2:'education', 3:'children'})

# add the columns to the original dataFrame
df['nickName']=df_new['nickName']
df['bday']=df_new['bday']
df['education']=df_new['education']
df['children']=df_new['children']

In [24]:
df

,Unnamed: 0,screen_name,name,followers_count,location,lat,lon,nickName,bday,education,children
0,0,TuckerCarlson,Tucker Carlson,1064787,"Washington, DC",38.895009,-77.036563,Tucker McNear Carlson[1],1969-05-16,[],4
1,3,WhiteHouse,The White House,15327283,"Washington, DC",38.895009,-77.036563,none,1792-10-13,none,none
2,5,KellyannePolls,Kellyanne Conway,1664393,"Washington, DC",38.895009,-77.036563,Kellyanne Elizabeth Fitzpatrick,1967-01-20,"[['Trinity Washington University', 'BA'], ['Ge...",4
3,6,Reince,Reince Priebus,941927,"Kenosha, WI",42.584677,-87.821226,Reinhold Richard Priebus,1972-03-18,"[['University of Wisconsinâ€“Whitewater', 'BA'],...",2
4,10,RealRomaDowney,Roma Downey,192126,Malibu,34.035591,-118.689423,none,1960-05-06,none,"1 daughter, 2 stepsons"
5,11,Trump,Trump Organization,254702,"New York, NY",40.730862,-73.987156,none,1923,none,none
6,14,IngrahamAngle,Laura Ingraham,1664852,"Washington, DC",38.895009,-77.036563,Laura Anne Ingraham,1963-06-19,"[['Dartmouth College', 'BA'], ['University of ...",3
7,16,TeamTrump,Official Team Trump,742514,USA,39.783730,-100.445882,none,none,none,none
8,17,DRUDGE_REPORT,DRUDGE REPORT,1319753,USA,39.783730,-100.445882,none,none,none,none
9,19,LaraLeaTrump,Lara Trump,301998,"New York, NY",40.730862,-73.987156,Lara Lea Yunaska,1982-10-12,none,1
10,20,seanhannity,Sean Hannity,2754923,"New York, NY",40.730862,-73.987156,Sean Patrick Hannity[1],1961-12-30,[],2
11,22,CLewandowski_,Corey R. Lewandowski,285315,"Washington, DC",38.895009,-77.036563,none,1973-09-18,"[[None, 'BA'], ['American University', 'MA']]",4
12,23,AnnCoulter,Ann Coulter,1662294,"Los Angeles, CA",34.053683,-118.242767,Ann Hart Coulter,1961-12-08,"[['Cornell University', 'BA'], ['University of...",none
13,24,DiamondandSilk,Diamond and SilkÂ®,382889,USA,39.783730,-100.445882,none,none,none,none
14,26,KatrinaPierson,Katrina Pierson,339906,"Washington, DC",38.895009,-77.036563,Katrina Lanette Shaddix,1976-07-20,none,1
15,27,MichaelCohen212,Michael Cohen,257489,"New York, NY",40.730862,-73.987156,none,none,none,none
16,28,foxandfriends,FOX & friends,1012750,"New York, NY",40.730862,-73.987156,none,none,none,none
17,29,MELANIATRUMP,MELANIA TRUMP,892678,"New York, NY",40.730862,-73.987156,none,none,none,none
18,30,GeraldoRivera,Geraldo Rivera,157925,"New York, NY",40.730862,-73.987156,Gerald Michael Riviera,1943-07-04,[['State University of New York Maritime Colle...,5
19,31,ericbolling,Eric Bolling,729649,"New York, NY",40.730862,-73.987156,Eric Thomas Bolling,none,"[['Rollins College', 'BA']]",1
20,32,MarkBurnettTV,Mark Burnett,193488,"Los Angeles, CA",34.053683,-118.242767,James Mark Burnett[1],1960-07-17,none,"3, including a step-daughter"
21,33,garyplayer,Gary Player,359255,South Africa,-28.816624,24.991639,none,1935-11-01,none,"Jennifer, Marc, Wayne, Michele, Theresa, Amanda"
22,34,VinceMcMahon,Vince McMahon,1789522,"Greenwich, Conn.",41.026486,-73.628460,Vincent Kennedy McMahon,1945-08-24,[],None
23,36,TrumpWaikiki,Trump Waikiki,48325,"Waikiki, Oahu",21.285259,-157.831718,none,none,none,none
24,37,TrumpDoral,Trump National Doral,56443,"Miami, Florida",25.774266,-80.193659,none,none,none,none
25,38,TrumpCharlotte,Trump Charlotte,38486,"Charlotte, NC",35.227087,-80.843127,none,none,none,none
26,39,TrumpLasVegas,Trump Vegas Hotel,99719,Las Vegas,36.166286,-115.149225,none,none,none,none
27,40,TrumpChicago,Trump Hotel Chicago,67529,"Chicago, IL",41.875562,-87.624421,none,none,none,none
28,41,TrumpGolfDC,"Trump Washington, DC",56428,"Sterling, VA",39.001619,-77.403201,none,none,none,none
29,42,TrumpGolfLA,Trump Los Angeles,47512,"Los Angeles, CA",34.053683,-118.242767,none,none,none,none
...,...,...,...,...,...,...,...,...,...,...,...
39,60,Scavino45,Dan Scavino Jr.,340876,"1600 Pennsylvania Avenue, Washington, DC",38.895854,-77.030713,Daniel Scavino Jr.,none,"[['State University of New York, Plattsburgh',...",none
40,61,KellyannePolls,Kellyanne Conway,2584390,USA,39.783730,-100.445882,Kellyanne Elizabeth Fitzpatrick,1967-01-20,"[['Trinity Washington University', 'BA'], ['Ge...",4
41,62,Reince,Reince Priebus,934750,"Washington, DC",38.895009,-77.036563,Reinhold Richard Priebus,1972-03-18,"[['University of Wisconsinâ€“Whitewater', 'BA'],...",2
42,63,RealRomaDowney,Roma Downey,238918,"California, USA",36.701463,-118.755997,none,1960-05-06,none,"1 daughter, 2 stepsons"
43,64,Trump,The Trump Organization,350208,"New York, NY",40.730862,-73.987156,none,1923,none,none
44,67,IngrahamAngle,Laura Ingraham,2581320,"Washington, DC",38.895009,-77.036563,Laura Anne Ingraham,1963-06-19,"[['Dartmouth College', 'BA'], ['University of ...",3
45,69,TeamTrump,Official Team Trump,956501,USA,39.783730,-100.445882,none,none,none,none
46,72,DRUDGE_REPORT,DRUDGE REPORT,1403331,USA,39.783730,-100.445882,none,none,none,none
47,74,LaraLeaTrump,Lara Trump,492595,"New York, NY",40.730862,-73.987156,Lara Lea Yunaska,1982-10-12,none,1
48,75,seanhannity,Sean Hannity,3928199,"New York, NY",40.730862,-73.987156,Sean Patrick Hannity[1],1961-12-30,[],2
49,76,CLewandowski_,Corey R. Lewandowski,388884,"Washington, DC",38.895009,-77.036563,none,1973-09-18,"[[None, 'BA'], ['American University', 'MA']]",4
50,77,DiamondandSilk,Diamond and SilkÂ®,1010717,USA,39.783730,-100.445882,none,none,none,none
51,79,KatrinaPierson,Katrina Pierson,443386,"Washington, DC",38.895009,-77.036563,Katrina Lanette Shaddix,1976-07-20,none,1
52,81,foxandfriends,FOX & friends,1335507,"New York, NY",40.730862,-73.987156,none,none,none,none
53,82,MELANIATRUMP,MELANIA TRUMP,1064983,"New York, NY",40.730862,-73.987156,none,none,none,none
54,83,GeraldoRivera,Geraldo Rivera,265232,"New York, NY",40.730862,-73.987156,Gerald Michael Riviera,1943-07-04,[['State University of New York Maritime Colle...,5
55,84,ericbolling,Eric BollingðŸ‡ºðŸ‡¸,1080806,"New York, NY",40.730862,-73.987156,none,none,none,none
56,87,MarkBurnettTV,Mark Burnett,219525,"Los Angeles, CA",34.053683,-118.242767,James Mark Burnett[1],1960-07-17,none,"3, including a step-daughter"
57,88,garyplayer,Gary Player,393259,South Africa,-28.816624,24.991639,none,1935-11-01,none,"Jennifer, Marc, Wayne, Michele, Theresa, Amanda"
58,89,VinceMcMahon,Vince McMahon,2197623,"Greenwich, Conn.",41.026486,-73.628460,Vincent Kennedy McMahon,1945-08-24,[],None
59,90,DanScavino,Dan Scavino,507539,"Washington, DC",38.895009,-77.036563,Daniel Scavino Jr.,none,"[['State University of New York, Plattsburgh',...",none
60,91,TrumpDoral,Trump National Doral,87502,"Miami, Florida",25.774266,-80.193659,none,none,none,none
61,92,TrumpCharlotte,Trump Charlotte,69155,"Charlotte, NC",35.227087,-80.843127,none,none,none,none
62,93,TrumpLasVegas,Trump Vegas Hotel,126917,Las Vegas,36.166286,-115.149225,none,none,none,none
63,94,TrumpChicago,Trump Hotel Chicago,94208,"Chicago, IL",41.875562,-87.624421,none,none,none,none
64,95,TrumpGolfDC,"Trump Washington, DC",98794,"Sterling, VA",39.001619,-77.403201,none,none,none,none
65,96,TrumpGolfLA,Trump Los Angeles,81502,"Los Angeles, CA",34.053683,-118.242767,none,none,none,none
66,99,greta,Greta Van Susteren,1201546,"Washington, DC",38.895009,-77.036563,Greta Conway Van Susteren[1],1954-06-11,"[['University of Wisconsin', 'B.A.'], ['George...",none
67,101,piersmorgan,Piers Morgan,6535363,"Los Angeles, CA",34.053683,-118.242767,Piers Stefan O'Meara,1965-03-30,"[['Chailey School', 'Priory School, Lewes']]",4
68,103,IvankaTrump,Ivanka Trump,6159430,"Washington, DC",38.895009,-77.036563,Ivana Marie Trump,1981-10-30,"[['Georgetown University', 'University of Penn...",3

In [29]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df

,screen_name,name,followers_count,location,lat,lon,nickName,bday,education,children
0,TuckerCarlson,Tucker Carlson,1064787,"Washington, DC",38.895009,-77.036563,Tucker McNear Carlson[1],1969-05-16,[],4
1,WhiteHouse,The White House,15327283,"Washington, DC",38.895009,-77.036563,none,1792-10-13,none,none
2,KellyannePolls,Kellyanne Conway,1664393,"Washington, DC",38.895009,-77.036563,Kellyanne Elizabeth Fitzpatrick,1967-01-20,"[['Trinity Washington University', 'BA'], ['Ge...",4
3,Reince,Reince Priebus,941927,"Kenosha, WI",42.584677,-87.821226,Reinhold Richard Priebus,1972-03-18,"[['University of Wisconsinâ€“Whitewater', 'BA'],...",2
4,RealRomaDowney,Roma Downey,192126,Malibu,34.035591,-118.689423,none,1960-05-06,none,"1 daughter, 2 stepsons"
5,Trump,Trump Organization,254702,"New York, NY",40.730862,-73.987156,none,1923,none,none
6,IngrahamAngle,Laura Ingraham,1664852,"Washington, DC",38.895009,-77.036563,Laura Anne Ingraham,1963-06-19,"[['Dartmouth College', 'BA'], ['University of ...",3
7,TeamTrump,Official Team Trump,742514,USA,39.783730,-100.445882,none,none,none,none
8,DRUDGE_REPORT,DRUDGE REPORT,1319753,USA,39.783730,-100.445882,none,none,none,none
9,LaraLeaTrump,Lara Trump,301998,"New York, NY",40.730862,-73.987156,Lara Lea Yunaska,1982-10-12,none,1
10,seanhannity,Sean Hannity,2754923,"New York, NY",40.730862,-73.987156,Sean Patrick Hannity[1],1961-12-30,[],2
11,CLewandowski_,Corey R. Lewandowski,285315,"Washington, DC",38.895009,-77.036563,none,1973-09-18,"[[None, 'BA'], ['American University', 'MA']]",4
12,AnnCoulter,Ann Coulter,1662294,"Los Angeles, CA",34.053683,-118.242767,Ann Hart Coulter,1961-12-08,"[['Cornell University', 'BA'], ['University of...",none
13,DiamondandSilk,Diamond and SilkÂ®,382889,USA,39.783730,-100.445882,none,none,none,none
14,KatrinaPierson,Katrina Pierson,339906,"Washington, DC",38.895009,-77.036563,Katrina Lanette Shaddix,1976-07-20,none,1
15,MichaelCohen212,Michael Cohen,257489,"New York, NY",40.730862,-73.987156,none,none,none,none
16,foxandfriends,FOX & friends,1012750,"New York, NY",40.730862,-73.987156,none,none,none,none
17,MELANIATRUMP,MELANIA TRUMP,892678,"New York, NY",40.730862,-73.987156,none,none,none,none
18,GeraldoRivera,Geraldo Rivera,157925,"New York, NY",40.730862,-73.987156,Gerald Michael Riviera,1943-07-04,[['State University of New York Maritime Colle...,5
19,ericbolling,Eric Bolling,729649,"New York, NY",40.730862,-73.987156,Eric Thomas Bolling,none,"[['Rollins College', 'BA']]",1
20,MarkBurnettTV,Mark Burnett,193488,"Los Angeles, CA",34.053683,-118.242767,James Mark Burnett[1],1960-07-17,none,"3, including a step-daughter"
21,garyplayer,Gary Player,359255,South Africa,-28.816624,24.991639,none,1935-11-01,none,"Jennifer, Marc, Wayne, Michele, Theresa, Amanda"
22,VinceMcMahon,Vince McMahon,1789522,"Greenwich, Conn.",41.026486,-73.628460,Vincent Kennedy McMahon,1945-08-24,[],None
23,TrumpWaikiki,Trump Waikiki,48325,"Waikiki, Oahu",21.285259,-157.831718,none,none,none,none
24,TrumpDoral,Trump National Doral,56443,"Miami, Florida",25.774266,-80.193659,none,none,none,none
25,TrumpCharlotte,Trump Charlotte,38486,"Charlotte, NC",35.227087,-80.843127,none,none,none,none
26,TrumpLasVegas,Trump Vegas Hotel,99719,Las Vegas,36.166286,-115.149225,none,none,none,none
27,TrumpChicago,Trump Hotel Chicago,67529,"Chicago, IL",41.875562,-87.624421,none,none,none,none
28,TrumpGolfDC,"Trump Washington, DC",56428,"Sterling, VA",39.001619,-77.403201,none,none,none,none
29,TrumpGolfLA,Trump Los Angeles,47512,"Los Angeles, CA",34.053683,-118.242767,none,none,none,none
...,...,...,...,...,...,...,...,...,...,...
39,Scavino45,Dan Scavino Jr.,340876,"1600 Pennsylvania Avenue, Washington, DC",38.895854,-77.030713,Daniel Scavino Jr.,none,"[['State University of New York, Plattsburgh',...",none
40,KellyannePolls,Kellyanne Conway,2584390,USA,39.783730,-100.445882,Kellyanne Elizabeth Fitzpatrick,1967-01-20,"[['Trinity Washington University', 'BA'], ['Ge...",4
41,Reince,Reince Priebus,934750,"Washington, DC",38.895009,-77.036563,Reinhold Richard Priebus,1972-03-18,"[['University of Wisconsinâ€“Whitewater', 'BA'],...",2
42,RealRomaDowney,Roma Downey,238918,"California, USA",36.701463,-118.755997,none,1960-05-06,none,"1 daughter, 2 stepsons"
43,Trump,The Trump Organization,350208,"New York, NY",40.730862,-73.987156,none,1923,none,none
44,IngrahamAngle,Laura Ingraham,2581320,"Washington, DC",38.895009,-77.036563,Laura Anne Ingraham,1963-06-19,"[['Dartmouth College', 'BA'], ['University of ...",3
45,TeamTrump,Official Team Trump,956501,USA,39.783730,-100.445882,none,none,none,none
46,DRUDGE_REPORT,DRUDGE REPORT,1403331,USA,39.783730,-100.445882,none,none,none,none
47,LaraLeaTrump,Lara Trump,492595,"New York, NY",40.730862,-73.987156,Lara Lea Yunaska,1982-10-12,none,1
48,seanhannity,Sean Hannity,3928199,"New York, NY",40.730862,-73.987156,Sean Patrick Hannity[1],1961-12-30,[],2
49,CLewandowski_,Corey R. Lewandowski,388884,"Washington, DC",38.895009,-77.036563,none,1973-09-18,"[[None, 'BA'], ['American University', 'MA']]",4
50,DiamondandSilk,Diamond and SilkÂ®,1010717,USA,39.783730,-100.445882,none,none,none,none
51,KatrinaPierson,Katrina Pierson,443386,"Washington, DC",38.895009,-77.036563,Katrina Lanette Shaddix,1976-07-20,none,1
52,foxandfriends,FOX & friends,1335507,"New York, NY",40.730862,-73.987156,none,none,none,none
53,MELANIATRUMP,MELANIA TRUMP,1064983,"New York, NY",40.730862,-73.987156,none,none,none,none
54,GeraldoRivera,Geraldo Rivera,265232,"New York, NY",40.730862,-73.987156,Gerald Michael Riviera,1943-07-04,[['State University of New York Maritime Colle...,5
55,ericbolling,Eric BollingðŸ‡ºðŸ‡¸,1080806,"New York, NY",40.730862,-73.987156,none,none,none,none
56,MarkBurnettTV,Mark Burnett,219525,"Los Angeles, CA",34.053683,-118.242767,James Mark Burnett[1],1960-07-17,none,"3, including a step-daughter"
57,garyplayer,Gary Player,393259,South Africa,-28.816624,24.991639,none,1935-11-01,none,"Jennifer, Marc, Wayne, Michele, Theresa, Amanda"
58,VinceMcMahon,Vince McMahon,2197623,"Greenwich, Conn.",41.026486,-73.628460,Vincent Kennedy McMahon,1945-08-24,[],None
59,DanScavino,Dan Scavino,507539,"Washington, DC",38.895009,-77.036563,Daniel Scavino Jr.,none,"[['State University of New York, Plattsburgh',...",none
60,TrumpDoral,Trump National Doral,87502,"Miami, Florida",25.774266,-80.193659,none,none,none,none
61,TrumpCharlotte,Trump Charlotte,69155,"Charlotte, NC",35.227087,-80.843127,none,none,none,none
62,TrumpLasVegas,Trump Vegas Hotel,126917,Las Vegas,36.166286,-115.149225,none,none,none,none
63,TrumpChicago,Trump Hotel Chicago,94208,"Chicago, IL",41.875562,-87.624421,none,none,none,none
64,TrumpGolfDC,"Trump Washington, DC",98794,"Sterling, VA",39.001619,-77.403201,none,none,none,none
65,TrumpGolfLA,Trump Los Angeles,81502,"Los Angeles, CA",34.053683,-118.242767,none,none,none,none
66,greta,Greta Van Susteren,1201546,"Washington, DC",38.895009,-77.036563,Greta Conway Van Susteren[1],1954-06-11,"[['University of Wisconsin', 'B.A.'], ['George...",none
67,piersmorgan,Piers Morgan,6535363,"Los Angeles, CA",34.053683,-118.242767,Piers Stefan O'Meara,1965-03-30,"[['Chailey School', 'Priory School, Lewes']]",4
68,IvankaTrump,Ivanka Trump,6159430,"Washington, DC",38.895009,-77.036563,Ivana Marie Trump,1981-10-30,"[['Georgetown University', 'University of Penn...",3

In [30]:
df.to_csv('geocodedAndCompletedTwittedData.csv')